<div class="container">
  <div class="row m-auto text-center g-5 py-5">
    <div class="portfolio-head text-uppercase">
      <h2>portfolio</h2>
    </div>

    <div class="icon-divison mt-2">
      <div class="left rounded rounded-1"></div>
      <div class="icon ms-3 me-3">
        <i class="fa fa-star fs-2" aria-hidden="true"></i>
      </div>
      <div class="right"></div>
    </div>

    <div class="portf col-md-4">
      <div class="portf-data rounded rounded-2 position-relative overflow-hidden">
        <img src="../../../assets/images/cabin.png" class="w-100"alt="" srcset=""/>
        <div class="layer text-center text-white d-flex align-items-center justify-content-center">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="portf col-md-4">
        <div class="portf-data rounded rounded-2 position-relative overflow-hidden">
          <img src="../../../assets/images/cake.png" class="w-100"alt="" srcset=""/>
          <div class="layer text-center text-white d-flex align-items-center justify-content-center">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="portf col-md-4">
        <div class="portf-data rounded rounded-2 position-relative overflow-hidden">
          <img src="../../../assets/images/circus.png" class="w-100"alt="" srcset=""/>
          <div class="layer text-center text-white d-flex align-items-center justify-content-center">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="portf col-md-4">
        <div class="portf-data rounded rounded-2 position-relative overflow-hidden">
          <img src="../../../assets/images/game.png" class="w-100"alt="" srcset=""/>
          <div class="layer text-center text-white d-flex align-items-center justify-content-center">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="portf col-md-4">
        <div class="portf-data rounded rounded-2 position-relative overflow-hidden">
          <img src="../../../assets/images/safe.png" class="w-100"alt="" srcset=""/>
          <div class="layer text-center text-white d-flex align-items-center justify-content-center">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="portf col-md-4">
        <div class="portf-data rounded rounded-2 position-relative overflow-hidden">
          <img src="../../../assets/images/submarine.png" class="w-100"alt="" srcset=""/>
          <div class="layer text-center text-white d-flex align-items-center justify-content-center">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
      </div>
  </div>
</div>
