<div class="container-fluid">
  <div class="row py-5 about text-white">
    <div class="about-head text-uppercase text-center">
      <h2>About</h2>
    </div>
    <!-- icon -->
    <div class="icon-divison mt-2 text-white">
      <div class="left rounded rounded-1"></div>
      <div class="icon ms-3 me-3">
        <i class="fa fa-star fs-2" aria-hidden="true"></i>
      </div>
      <div class="right"></div>
    </div>
    <!-- content -->
    <div class="container m-auto mt-4">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-3">
                <p class="about-p">
                  Freelancer is a free bootstrap theme created by Route. The download
                  includes the complete source files including HTML, CSS, and JavaScript
                  as well as optional SASS stylesheets for easy customization.
                </p>
              </div>
              <div class="col-md-3">
                <p class="about-p">
                  You can create your own custom avatar for the masthead, change the icon
                  in the dividers, and add your email address to the contact form to make
                  it fully functional!
                </p>
              </div>
        </div>
    </div>
  </div>
</div>
