<div
  class="row portfolio justify-content-center align-items-center text-white vh-100 m-auto"
>
  <div class="col-md-7 text-center item text-uppercase">
    <img src="../../../assets/images/avataaars.svg" class="w-25" alt="" />
    <h2 class="mt-4">Start angular</h2>
    
    
    <div class="icon-divison mt-4">
      <div class="left rounded rounded-1"></div>
      <div class="icon ms-3 me-3">
        <i class="fa fa-star fs-2" aria-hidden="true"></i>
      </div>
      <div class="right"></div>
    </div>

    <div class="portfolio-content text-capitalize mt-4">
        <span>Graphic Artist - Web Designer - Illustrator</span>
    </div>
  </div>
</div>
